.button1 {
    background-color: #FF5733; 
    color: #FFFFFF;           
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button2 {
    background-color: #33FF57; 
    color: #000000;            
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button3 {
    background-color: #3357FF; 
    color: #FFFFFF;            
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


button {
    margin: 10px;
    border-radius: 5px; 
}